.home-footer {
    background-color: #EEF2F7;
    padding: 100px 0;
}

.home-footer__description {
    max-width: 70%;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;

    @media only screen and (max-width: 768px) {
        max-width: 90%;
    }
}
