.page-form__box {
    background-color: #fff;
    border-radius: 26px;
    padding: 50px 80px;
    margin: 0 15px;



    @media only screen and (max-width: 768px) {
        margin: 0;
        border-radius: 0;
        background-color: transparent;
        padding: 0;
    }
}

.page-form__container {
    padding-bottom: 100px;

    @media only screen and (max-width: 768px) {
        max-width: 100%;
    }
}

.page-form__box-title {
    margin-bottom: 20px;

    @media only screen and (max-width: 768px) {
        padding-right: 30px;
    }

}

.page-form__box-subtitle {
    margin-bottom: 30px;

    @media only screen and (max-width: 768px) {
        padding-right: 30px;
    }
}

.page-form__fieldset {
    background-color: #F5F7FA;
    border: none;
    position: relative;
    padding-top: 70px;
    border-radius: 16px;
    margin-bottom: 20px;

    @media only screen and (max-width: 768px) {
        background-color: #fff;
        padding-right: 10px;
    }
}

.page-form__legend {
    position: absolute;
    top: 30px;
    right: 0;
    font-size: 1.1rem;
    width: 100%;
    padding-right: 35px;

    &::before {
        content: '';
        width: 3px;
        height: 30px;
        background-color: var(--primary-color);
        border-radius: 8px 0 0 8px;
        position: absolute;
        right: 0;
        top: -8px;

        @media only screen and (max-width: 768px) {
            right: 20px
        }
    }
}

.page-form__form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    width: 50%;

    @media only screen and (max-width: 768px) {
        width: 100%;
    }
}

.page-form__form-textarea-wrapper {
    width: 100%;
    align-items: flex-start;
}

.page-form__form-label {
    max-width: 20%;
    flex-grow: 1;

    @media only screen and (max-width: 768px) {
        display: none;
    }

}

.page-form__form-textarea-label {
    max-width: 9%;
    padding-top: 10px;

    @media only screen and (max-width: 768px) {
        display: none;

    }
}

.page-form__form-label--required {
    &::after {
        content: '*';
        color: var(--primary-color);
    }
}

.page-form__form-control {
    display: inline-block;
    height: 40px;
    border-radius: 12px;
    border: 2px solid #DBE4F2;
    padding: 10px;
    max-width: 80%;
    outline: none;
    flex-grow: 4;

    &:focus {
        border-color: var(--primary-color);
    }

    @media only screen and (max-width: 768px) {
        max-width: 100%;
    }
}

.page-form__form-textarea {
    max-width: 91%;
    height: auto;

    @media only screen and (max-width: 768px) {
        max-width: 100%
    }
}

.page-form__file-uploader {
    opacity: 0;
    z-index: -1;
    position: absolute;
}


.page-form__custom-file-uploader {
    background-color: #fff;
    display: inline-block;
    height: 40px;
    border-radius: 12px;
    border: 2px solid #DBE4F2;
    padding: 0 10px;
    width: 80%;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 768px) {
        width: 100%;
    }

    &:not(.failed-validation):focus-within {
        border-color: var(--primary-color);

        .page-form__custom-file-uploader-button {
            background-color: var(--primary-color);
            color: #fff
        }

        .page-form__custom-file-uploader__file-name {
            color: var(--primary-color);
        }
    }
}

.page-form__custom-file-uploader-button {
    border: none;
    outline: none;
    background-color: #EEF2F7;
    color: #9DB0CB;
    display: inline-block;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    left: 0;
    padding: 10px;
    text-align: center;
}

.page-form__validation-label {
    color: #9DB0CB;
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 15px;
}

.page-form__form-select {
    appearance: none;
    -webkit-appearance: none;
    background-color: #E7ECF4;

    &::-ms-expand {
        display: none;
    }
}

.page-form__form-select-wrapper {
    position: relative;
}

.page-form__custom-select {
    background-color: #E7ECF4;
    padding-right: 20px;
    cursor: pointer;
}

.page-form__custom-select--open {
    background-color: #fff;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: none;
}

.page-form__custom-select__options-wrapper {
    background-color: #fff;
    display: none;
    overflow: hidden;
    position: absolute;
    top: 40px;
    right: 26%;
    z-index: 2;
    width: 64%;
    border-bottom-right-radius: 12px;
    padding: 10px;
    border-bottom-left-radius: 12px;

    @media only screen and (max-width: 768px) {
        width: 95%;
        right: 5%;
    }
}

.page-form__custom-select__options-wrapper--open {
    display: block;
    border: 2px solid #DBE4F2;
    border-top: none;
}

.form-group__custom-select__option {
    display: block;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;

    &:hover {
        background-color: #E9EDF5;
        color: var(--primary-color);
        padding-right: 5px;
    }
}

.page-form__custom-select {
    position: relative;

    &::after {
        content: url('/img/arrow-down.svg');
        position: absolute;
        left: 5%;
        top: 12px
    }
}

.page-form__form-validation-message {
    color: var(--primary-color);

    @media only screen and (max-width: 768px) {
        font-size: 1rem;
    }
}

.page-form__custom-file-uploader__file-name {
    text-align: right;
    font-size: 0.9rem;
}

.page-form__form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 768px) {
        padding: 10px 15px 40px;
    }
}

.failed-validation {
    border-color: #FE5959;

    .page-form__custom-file-uploader-button {
        border-right: 2px solid #FE5959;
        color: #FE5959;
    }

}

.error-message {
    color: #FE5959;
}

.loading {
    display: block;
    margin: 0 auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--primary-color);
    animation: loading 1s ease infinite alternate;
}

@keyframes loading {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(1.4)
    }
}
