.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }
}


.container-fluid {
    width: 100%;
    margin-right: auto;
    padding: 0 15px;
    margin-left: auto;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


$cols:("sm":768px,
    "md":992px,
    "lg":1200px);

@each $name,
$size in $cols {
    @media only screen and (min-width:#{$size}) {
        @for $col from 1 to 13 {
            .col-#{$name}-#{$col} {
                max-width: percentage($col / 12);
                flex-basis: percentage($col / 12);
                flex-grow: 1;
                padding: 15px;
                min-height: 1px;
                position: relative;

            }
        }
    }
}
