.header {
    padding-top: 50px;
    height: 80vh;
    background-color: var(--primary-color);

    @media only screen and (max-width: 768px) {
        height: 100vh;
    }

    a {
        color: #fff;
    }
}

.header__container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__navbar {
    width: 100%;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 768px) {
        display: none;

    }
}

.header__nav {
    @media only screen and (max-width: 768px) {
        width: 100%;
    }
}

.header__navbar--open {
    @media only screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
}

.header__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    @media only screen and (max-width: 768px) {
        width: 100%;
        flex-direction: column;
        margin-top: 20px;
    }
}

.header__item {
    padding: 10px;
    margin-right: 20px;

    @media only screen and (max-width: 768px) {
        margin-right: 0;
        width: 100%;
        background-color: #ffffff1a;
        padding: 10px;
        border-radius: 12px;
        margin-bottom: 15px;
    }
}

.header__logo {
    position: absolute;
    right: 7%;
}

.header__right {
    display: flex;
    align-items: center;
    width: 50%;

    @media only screen and (max-width: 768px) {
        width: 100%;
        justify-content: center
    }
}

.header__left {
    width: 50%;
    display: flex;
    justify-content: flex-end;

    @media only screen and (max-width: 768px) {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

.header__navbar__button {
    display: none;

    @media only screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 20px;
        top: 50px;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: transparent;
        outline: none;
    }
}

.header__button {
    display: block;
    background-color: rgba(3, 52, 50, 0.1);
    border-radius: 18px;
    color: #fff;
    padding: 10px 30px;
    cursor: pointer;

    @media only screen and (max-width: 768px) {
        background-color: transparent;
        padding: 0;
    }
}


.header__intro {
    display: flex;
    align-items: center;
    width: 100%;
}

.header__navbar {
    justify-content: space-between;

    @media only screen and (max-width:1300px) {
        padding-right: 7%;
    }
}

.header__intro {
    justify-content: flex-end;

    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.header__img {
    max-width: 100%;

    @media only screen and (max-width: 768px) {
        order: 1;
    }
}

.header__text {
    color: #fff;
    text-align: right;

    @media only screen and (max-width: 768px) {
        order: 2;
        text-align: center;
    }
}

.header__title {
    font-size: 3rem;
    text-shadow: 2px 2px 0 #1cafa5;
}

.header__subtitle {
    font-size: 1.3rem;
}

.page-scroll-lock {
    height: 100vh;
    overflow: hidden;
}
